// Typography
$font-primary: "Poppins", sans-serif;

// Colors
$yellow: #FFCE31;
$orange: #f07b3f;
$red: #ED4C5C;
$grey: #2d4059;
$cream: #E5E5E5;
$blue: #16ABF8;
$purple: #B01AFF;
$green: #00A790;
$light-blue: #43C4E3;

// Transition motion
$transition-default : all 400ms ease;