// Typography
$font-primary: "Poppins", sans-serif;

// Colors
$red: #ED4C5C;
$grey: #2d4059;
$cream: #E5E5E5;
$grey: #F4F4F4;
$blue: #16ABF8;
$light-blue: #43C4E3;
$white : #fff;

// Transition motion
$transition-default : all 400ms ease;