@use '/src/scss/utils/variables' as *;

.card {
    background-color: $white;
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

    .wrapper,
    .edit,
    .title {
        display: flex;
        align-items: center;
    }

    .wrapper {
        justify-content: space-between;
        padding: 24px 28px;
    }

    .edit {
        gap: 22px;

        input {
            width: 20px;
            height: 20px;
            border-radius: 0;
            border-color: #C7C7C7;

            &:checked {
                background-color: $blue;
                border-color: $blue;
            }
        }
    }

    .title {
        gap: 16px;

        .priority {
            width: 9px;
            height: 9px;
            border-radius: 100%;

            &.red {
                background-color: $red;
            }
        }

        p {
            margin-bottom: 0;
            font-size: 18px;
            line-height: 27px;
            font-weight: 500;
        }
    }
}